.img_detail {
  width: 80%;
  height: 100% !important;
  object-fit: cover;
  min-height: 600px;
  margin-left: 2rem;
}

.img__review {
  height: 70px !important;
  width: 70px !important;
  object-fit: cover;
}

.b2 {
  width: 80% !important;
}

.review_user {
  border-bottom: 1px solid #cbd1db;
}

.edit_review {
  // position: absolute;
  // top: 0px;
  // right: 0px;
  min-width: 200px !important;
}

.no_data_search {
  display: flex;
  justify-content: center;
}
.mt_d {
  min-height: 100px;
}
.lang_h {
  // max-width: 200px !important;
  left: 0px !important;
}

.cart-table {
  .pro-thumbnail {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    img {
      width: 100% !important;
      min-width: 150px !important;
      height: 100% !important;
      min-height: 200px !important;
      object-fit: cover;
    }
  }
}

.h-50vh{
  height: 50vh !important;
}

.f-c-c{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
