*{

    // img{
    //     width: 100px;
    //     height: 100px;
    // }
}

// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600&display=swap');
// @import url('../icon/custom-icons/css/custom-icons.css');
// @import url('../icon/pe-icon-7-stroke/css/pe-icon-7-stroke.css');
// @import url('../icon/elegant-icons/style.css');
// @import url('../css/font-awesome.min.css');
body {
    background: #fff;
    color: #717173;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    margin: 0;
    padding: 0;
    position: relative;
}

img {
    max-width: 100%;
}

/* === PARAGRAPH === */

p {
    margin: 0 0 10px;
}

b,
strong {
    font-weight: 600;
}

/* ===  Headings === */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1F1F1E;
    font-family: 'Lato', sans-serif;
    margin: 0 0 15px;
    padding: 0;
    transition: 0.3s;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 900;
}

h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    line-height: 22px;
}

h5 {
    font-size: 20px;
    line-height: 28px;
}

h6 {
    font-size: 18px;
}

/* ## End: Headings ## */

/* === Hyperlink === */

a {
    color: #303030;
    /*transition*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a,
a>* {
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: medium none;
    text-decoration: none;
    color: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pt-130 {
    padding-top: 130px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

/* === Hyperlink === */

.btn.btn-fill {
    background: #fff;
}

.btn.btn-fill {
    color: #000;
}

.btn {
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 22px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    color: #fff;
}

section {
    background: #F8F7F3;
}

.base-header {
    padding-bottom: 40px;
    margin: auto;
    text-align: left;
}

.base-header h3 {
    position: relative;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 1.1;
    color: #1F1F1E;
    margin-top: 0px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../images/pre_loader.gif") no-repeat center center;
    color: #000;
}

.link:before {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #1F1F1E;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

.link:hover::before {
    height: 400%;
    opacity: 1;
}

.link:hover {
    color: #fff;
}

.link {
    display: inline-block;
    font-size: 16px;
    padding: 14px 40px 14px 40px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}

.link {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #00938D;
    border-radius: 5px;
}

.owl-prev,
.owl-next {
    -webkit-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #333;
    opacity: 0;
}

.owl-theme .owl-controls .owl-nav div {
    padding-right: 20px;
}

.owl-theme .owl-controls .owl-nav .owl-prev {
    left: 0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.owl-theme .owl-controls .owl-nav .owl-next {
    right: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.owl-nav {
    bottom: -50px;
    left: 0%;
}

.owl-prev {
    margin-left: 0;
}

.owl-nav div.owl-next {
    left: 60px;
    right: 20px;
}

.owl-nav div {
    color: #333;
    font-size: 19px;
    height: 50px;
    left: 0px;
    line-height: 36px;
    margin-top: -30px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    position: absolute;
    text-align: center;
    top: 50.5%;
    width: 50px;
    border-radius: 50%;
    padding-right: 0px !important;
    padding-top: 5px;
}

