@import "../../../variables.scss";

.review {
  margin-top: 3rem;
  .review__title {
    font-size: 25px;
    color: #1e3322;
    margin-bottom: 10px;
    display: block;
  }
  .review__form {
    .review__title {
      font-size: 25px;
      color: #1e3322;
      margin-bottom: 10px;
      display: block;
    }
    .review__form__star {
      display: flex;
      margin-bottom: 1rem;

      div {
        display: flex;
        align-items: center;
        &:first-child {
          font-size: 15px;
          margin-right: 2rem;
        }
        &:last-child {
          font-size: 15px;
          margin-left: -1rem;
        }
      }
    }
    span {
      margin-bottom: 25px;
    }
    .review__field {
      outline: inherit;
      border-width: medium medium 1px;
      border-style: none none solid;
      border-color: -moz-use-text-color -moz-use-text-color $background_btn;
      border-image: none;
      width: 80%;
      margin-bottom: 20px;
      padding: 5px 15px;
      line-height: 5rem;
      border: 1px solid transparent;
      background: #fff;
      border-radius: 5px;
      padding-top: 15px !important;
      height: 5rem;
      line-height: 20px !important;
    }
    .review__submit {
      margin-bottom: 3rem;
      padding-right: 3rem;
      padding-left: 3rem;
      height: 55px;
      text-align: center;
      letter-spacing: 0px;
      text-transform: capitalize;
      display: inline-block;
      overflow: hidden;
      outline: none;
      border: none;
      color: white;
      position: relative;
      background: $background_btn;
      font-size: 16px;
      font-weight: 500;
      border-radius: 5px;
      font-family: "Poppins", sans-serif;
      &:hover {
        background-color: #3b3f46;
        transition: all 0.4s ease;
      }
      &:first-child{
        margin-right: 2rem;
      }
    }
  }
}
