@import "../../../assets/scss/variables.scss";

.admin__hp {
  margin-top: 2rem;
  .ahp__wrap{
    padding: 0 2rem;
    .ahp__title{
        color: $color_success;
        font-size: 18px;
        font-weight: 500;
        &:nth-child(2){
            margin-left: .5rem;
        }
    }

    .ahp__tolist{
        text-align: right;
    }
  }
}
