// @import "../../../variables.scss";

.star__custom {
  display: flex;
  align-items: center;
  // justify-content: center;
  .star__total {
    margin-right: .5rem;
  }
  .star__wrap {
    display: flex;
    .star__item {
      color: #FF9747 !important;
    }
  }
  .star__reviews {
    margin-left: .5rem;
  }
}
