// .icon__user {
// //   position: absolute !important;
//   top: 100% !important;
//   left: -100px !important;
// }

.admin-thumbnail {
  img {
    width: 52px !important;
    height: 52px !important;
    object-fit: cover !important;
  }
}
