.page404{
    .single-header {
        position: relative;
        text-align: center;
        color: #fff;
        height: 700px;
        // background: transparent url("../../../../public/img/logo_dhct.png");
        
        background-color: red;
        color: #FFF;
        box-sizing: border-box;
        height: 340px;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        position: relative;
    }
    
    .single-header .col-sm-12 {
        display: flex;
        flex-direction: column;
        height: 340px;
        justify-content: center;
    }
    
    .single-header h4 {
        color: #ddd;
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 1px;
        display: block;
        margin-bottom: -25px;
        font-weight: 500;
    }
    
    .single-header h4 span {
        margin: 0px 2px;
    }
    
    .single-header h4 a {
        color: #fff;
    }
    
    .single-header h3 {
        color: #fff;
        text-transform: capitalize;
        font-size: 55px;
        letter-spacing: 0px;
        padding-bottom: 8px;
        font-weight: 700;
        text-align: center;
        line-height: 1.1;
        margin-top: -35px;
    }
    
    .single-header h4 a:hover {
        color: #fff;
    }
    .notfound-section {
        text-align: center;
        padding: 100px 0px;
    }
    
    .notfound_wrap img {
        width: 400px;
        margin-bottom: 26px;
    }
    
    .notfound_wrap h2 {
        font-size: 45px;
        line-height: 1.2;
    }
    
    .notfound_wrap p {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
}