.admin__sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: width 0.1s ease, margin 0.1s ease-in-out;
  transition: width 0.1s ease, margin 0.1s ease-in-out;
  z-index: 999;
  .sidebar__header {
    background: #fff;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-right: 1px solid #e9ecef;
    z-index: 999;
    width: 240px;
    -webkit-transition: width 0.1s ease;
    transition: width 0.1s ease;
    .sidebar__brand {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      font-weight: 700;
      font-size: 25px;
      color: #000865;
      direction: ltr;
      span {
        color: #6571ff;
        font-weight: 300;
      }
    }
  }
  .sidebar__body {
    max-height: calc(100% - 60px);
    position: relative;
    border-right: 1px solid #e9ecef;
    height: 100%;
    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    background: #fff;
    .nav {
      display: flex;
      flex-direction: column;
      padding: 25px 25px 50px 25px;
      .nav-item {
        position: relative;
        .nav-link {
          display: flex;
          align-items: center;
          padding: 0;
          height: 32px;
          white-space: nowrap;
          color: #000;
          .link-icon {
            width: 16px;
            height: 16px;
            fill: rgba(233, 236, 239, 0.21);
            position: absolute;
            color: inherit;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
          .link-title {
            margin-left: 30px;
            font-size: 14px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
          .link-arrow {
            width: 14px;
            height: 14px;
            margin-left: auto;
            -webkit-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            color: inherit;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
        &:hover {
          .nav-link {
            color: #6571ff;
            .link-title {
              margin-left: 35px;
            }
          }
        }
      }
      .nav-category {
        color: #7987a1;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        height: 15px;
        &:not(&:first-child) {
          margin-top: 20px;
        }
      }
      .sub-menu {
        padding: 0 0 15px 33px;
        .nav-item {
          position: relative;
          &:hover {
            .nav-link {
              color: #6571ff;
              margin-left: 3px;
              &::before {
                border: 1px solid #6571ff;
                background: #6571ff;
              }
            }
          }
          .nav-link {
            height: 25px;
            color: #000;
            font-size: 13px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &::before {
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: 0 0;
              border: 1px solid #aeb9c4;
              position: absolute;
              left: -29px;
              top: 10px;
              -webkit-transition: all 0.7s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    z-index: 999;
    margin-left: -240px;
    visibility: hidden;
    .nav-item {
      width: auto;
      .nav-link .link-icon {
        -webkit-transition: none;
        transition: none;
        margin: 0;
      }
    }
  }
}
