.card_custom {
  .card__container {
    .card__item {
      padding: 15px 15px 25px;
      background: #fff;
      border-radius: 12px;
      border: 1px solid #f0e9e9;
      margin-bottom: 30px;
      transition: 0.4s;

      &:hover {
        border: 1px solid #00938d;
        transition: 0.4s;
      }

      img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .card__price {
        display: flex;
        justify-content: space-between;
        padding: 0px 8px;
        margin-top: 20px;
        margin-bottom: 15px;
        .card__tag {
          background: #ffece3;
          color: #1e3322;
          padding: 5px 12px;
          border-radius: 4px;
          font-size: 14px;
        }
        .card__p {
          font-size: 20px;
          color: #fd661f;
          font-weight: 500;
          letter-spacing: 0.2px;
        }
      }

      .card__tit {
        padding: 0px 8px;
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
      }

      .card__lesson {
        padding-bottom: 20px;
        color: #717173;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 21px;

        i {
          color: #717173;
          margin-right: 5px;
          font-size: 17px;
        }
        &::after {
          position: absolute;
          content: "";
          width: 68%;
          height: 4px;
          background: #ffece3;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0%;
        }
        .card__stu i {
          font-size: 20px;
          position: relative;
          top: 2px;
        }
      }

      .card__rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 8px;

        a i {
          font-size: 20px;
          background: #00938d;
          color: #fff;
          width: 37px;
          height: 37px;
          display: inline-block;
          border-radius: 50%;
          line-height: 37px;
          text-align: center;
          &:hover {
            background: #1f1f1e;
          }
        }
        .card__rat i {
          margin: 0px 1px;
          color: #ffc107;
          font-size: 12px;
          position: relative;
          top: -1px;

          &:first-child {
            margin-left: 5px;
          }
          &:last-child {
            margin-right: 2px;
          }
        }
      }
    }
  }
}
