.featured {
  padding-top: 100px;
  padding-bottom: 180px;
  .featured__container {
    .featured__base__header {
      padding-bottom: 40px;
      margin: auto;
      text-align: left;
      text-align: center;
      h3 {
        position: relative;
        text-transform: capitalize;
        font-weight: 900;
        margin-bottom: 0px;
        font-size: 36px;
        line-height: 1.1;
        color: #1f1f1e;
        margin-top: 0px;
      }
    }
    .featured__card {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .featured__item {
      }
    }

    .featured__button {
      text-align: center;
      .link {
        margin-top: 20px;
      }
    }
  }
}
